body{
	background: #4286f4 !important;
}

@media (min-width: 1200px) {
	.container{
		max-width: 1370px !important;
		width: 1370px !important;
	}
}

code {
	display: block;
	white-space: pre-wrap
}

hr{
	width: 25%;
	margin: 0px;
}

.container{
	width: 80%;
	margin: 0 auto;
}

td, th{
	padding: 3px;
}

.failedValidation{
	display: block;
}