body{
	background: #007770 !important;
}

@media (min-width: 1200px) {
	.container{
		max-width: 1370px !important;
		width: 1370px !important;
	}
}

code {
	display: block;
	white-space: pre-wrap
}

.container{
	width: 80%;
	height: 75%;
	margin: 0 auto;
}

.footer{
	min-height: 25%;
}

td, th{
	padding: 3px;
}

.failedValidation{
	display: block;
}

.list-group-item {
	display: list-item;
}

.list-group {
	list-style: decimal inside;
}